:root {
    --bkg: #333;
    --bkg-side: rgb(100, 100, 100);
    --txt: rgb(200, 200, 200);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bkg);
    color: var(--txt);
}

header {
    text-align: center;
    margin-top: 1rem;
}

header h1{
    font-size: 4rem;
}

.container {
    display: flex;
    flex-direction: row;
}

.side {
    width: 20%;
    padding: 1.5rem;
    background-color: var(--bkg-side);
}

.main {
    width: 80%;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    
}

.box {
    padding: 1.5rem;
    border: 1px solid whitesmoke;
    margin: 20px auto;
}

.group {
    margin-top: 1rem;
}

.content-list {
    list-style: none;
}