*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    padding: 5px;
    background-color: darkblue;
    color: white;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end ;
}

nav a {
    text-decoration: none;
    color: white;
}

nav button {
    padding: 3px;
}

header {
    background-color: red;
    color: white;
    padding: 25px;
    text-align: center;
}