:root {
    --clr-one: lightgray;
    --clr-two: rgb(51, 51, 51);
    --clr-two-a: rgb(51, 51, 51, 0.5);
    --clr-three: rgb(230, 230, 230);
    --clr-four: rgb(150, 150, 150);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--clr-one);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.todo-app {
    margin: 5rem;
    padding: 2rem;
    background-color: var(--clr-four);
    border-radius: 8px;
    width: 30%;
}

/* INPUT CONTAINER */
.input-container {
    display: flex;
    flex-direction: column;    
    background-color: var(--clr-two);
    margin-top: 1rem;
    padding: 1rem;
    color: var(--clr-three);
    box-shadow: 5px 4px .1rem black;
    border-radius: 10px;
}

label {
    font-weight: 900;
    font-size: 1.5em;
}

.input-container input {
    margin-top: 1rem;
    padding: .5rem;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--clr-four);
    color: var(--clr-four);
    outline: none;
    font-size: 18px;
}

.btn {
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit {
    margin-top: 1rem;
    width: 8em;
    background-color: var(--clr-four);
}

.submit:hover {
    background-color: var(--clr-one);
    transition: 200ms;
}

/* OUTPUT CONTAINER */ 
.output-container {

}

.task-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 1rem;
    padding: 1rem;
    background-color: var(--clr-two);
    color: var(--clr-four);
    box-shadow: 5px 4px .1rem black;
    border-radius: 10px;
}

.completed {
    color: var(--clr-four);
    background-color: var(--clr-two-a);
    text-decoration-line: line-through;
    text-decoration-thickness: 0.3em;
}