:root {
    --bkg-one: blue;
    --bkg-correct: green;
    --bkg-wrong: red;
    --txt-one: white;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--bkg-one);
    color: var(--txt-one);
}

/*INTRO*/
.intro {

}

/*QUIZ CARD*/
.quiz-card {
    padding: 10px;
    border: 1px solid white;
}

/*SUMMARY*/
