:root {
    --bkg: rgb(235, 235, 235);
    --txt: rgb(49, 49, 49);
    --txtOne: rgb(220, 220, 220);
    --txtTwo: rgb(150, 150, 150);
    --brd: rgb(99, 99, 99);
    --go: rgba(60, 255, 0, 0.5);
    --correct: rgb(67, 212, 0);
    --incorrect: rgb(255, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bkg);
    color: var(--txt);
}

header {
    text-align: center;
    margin-top: 1rem;
}

header h1{
    font-size: 4rem;
}


.main-container {
    margin: auto;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mood-group {
    margin-top: 1rem;
    border-bottom: 1px solid var(--txt);
}

.tense-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    padding: 1em;
    border: 1px solid var(--brd);
    border-radius: 10px;
    margin: 2rem;

    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.item:hover {
    transition: 500ms;
    background-color: rgba(255, 215, 0, 0.7);
}

.footer {
    margin-top: 2rem;
    height: 5rem;
    text-align: center;
}

.btn {
    padding: 1rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--brd);
    color: var(--txtOne);
    font: inherit;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--go);
    color: var(--txt);
}

.btn:focus {
    background-color: var(--go);
    color: var(--txt);
}

.choice-container {
    margin-top: 2rem;
    padding: 1rem;
}

.choice-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice-container select {
    margin-top: 1rem;
    padding: 10px;
    background-color: var(--txt);
    color: var(--bkg);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
}

.question-container {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    width: 50%;
}

.question-element {
    margin-top: 2rem;
    font-size: 3rem;
    color: var(--txtTwo);
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container #answer {
    margin-top: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--txt);
    padding: 1rem;
    width: 100%;
    outline: none;
    color: var(--txt);
    font-size: 2rem;
    text-align: center;
}

.input-container button {
    margin-top: 2rem;
    width: fit-content;
}

.correct-text {
    color: var(--correct);
}

.incorrect-text {
    color: var(--incorrect);
}

.summary-container {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
}

@media (max-width: 800px) {
    .tense-group {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid gold;
    }
}

