:root {
    --bkg: rgb(36, 167, 160);
    --txt: rgb(233, 233, 233);
    --txtOne: rgb(220, 220, 220);
    --txtTwo: rgb(150, 150, 150);
    --itemOne: rgb(92, 168, 173);
    --itemTwo: rgba(90, 199, 184, 0.7);
    --line: rgb(181, 252, 242);
    --brd: rgb(99, 99, 99);
    --go: rgba(0, 255, 179, 0.5);
    --correct: rgb(77, 255, 115);
    --incorrect: rgb(255, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: var(--bkg);
    color: var(--txt);
}

header {
    text-align: center;
    margin-top: 1rem;
}


.nav {
    display: flex;
    padding-left: 5px;
}

.nav a{
    text-decoration: none;
    color: var(--txt);
}

.logo {
    font-size: 2rem;
}

.logo h1 {
    font-family: 'Indie Flower', cursive;
}

.main-container {
    margin: auto;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mood-group {
    margin-top: 1rem;
    border-bottom: 1px solid var(--txt);
}

.tense-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    padding: 1em;
    width: 200px;
    height: 80px;
    border: none;
    border-radius: 10px;
    margin: 2rem;
    background-color: var(--itemOne);
    cursor: pointer;
    box-shadow: 1px 2px 5px var(--brd);
    
}

.item:hover {
    transition: 500ms;
    background-color: var(--itemTwo);
    box-shadow: 4px 8px 5px var(--brd);
}

.footer {
    margin-top: 2rem;
    height: 5rem;
    text-align: center;
}

.btn {
    padding: 1rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--itemTwo);
    color: var(--brd);
    font: inherit;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--go);
    color: var(--txt);
}

.btn:focus {
    background-color: var(--go);
    color: var(--txt);
}

.choice-container {
    margin-top: 2rem;
    padding: 1rem;
}

.choice-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice-container select {
    margin-top: 1rem;
    padding: 10px;
    background-color: var(--txt);
    color: var(--bkg);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
}

.question-container {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    width: 50%;
}

.question-element {
    margin-top: 2rem;
    font-size: 3rem;
    color: var(--txtOne);
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container #answer {
    margin-top: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--txt);
    padding: 1rem;
    width: 100%;
    outline: none;
    color: var(--txt);
    font-size: 2rem;
    text-align: center;
}

.input-container button {
    margin-top: 2rem;
    width: fit-content;
}

.correct-text {
    color: var(--correct);
}

.incorrect-text {
    color: var(--incorrect);
}

.summary-container {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
}

.application-container {
    padding: 2rem;
    margin-top: 2rem;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: var(--line);
}

.text-container {
    color: var(--txtTwo);
}

.translation-container {

}

@media (max-width: 800px) {
    .mood-group {
        border-bottom: none;
    }
    .tense-group {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--line);
    }
}

