:root {
    --bkg-clr-body: #444444;
    --bkg-clr-main: #000000;
    --clr-sec: #7d2cc0;
    --clr-thi: #E5E5E5;
    --box-clr: #333333;
    --txt-clr-one: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bkg-clr-body);
}

.navbar {
    background-color: var(--clr-sec);
    height: 40px;
    text-align: right;
}

header {
    font-size: 40px;
    padding: 60px;
    border-bottom: 2px solid var(--clr-sec);
    text-align: center;
}

header h1 {
    color: var(--clr-sec);
    text-align: center;
    margin: 0 0 30px 0;
}

header p {
    color: var(--clr-thi);
    font-size: 20px;
}

.mainbody {
    color: var(--clr-thi);
    display: flex;
    color: var(--txt-clr-one);
    max-width: 1200px;
    margin: auto;

}



.section {
    padding: 20px;
    width: 33%;
    margin: auto;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}
.box {
    padding: 15px;
    margin: 20px auto;
    height: 15rem;
    background-color: var(--box-clr);
    border-radius: 30px;
    width: 100%;
}

.box-two {
    padding: 15px;
    margin: 20px auto;
    height: 10rem;
    background-color: var(--box-clr);
    border-radius: 30px;
    width: 30%;
}

.box-three {
    padding: 15px;
    margin: 20px auto;
    height: 20rem;
    background-color: var(--box-clr);
    border-radius: 30px;
    width: 100%;
}

.box:hover, .box-two:hover, .box-three:hover {
    background-color: rgba(0,221,221,0.7);
    cursor: pointer;
    transition: 0.5s;
}

footer {
    background-color: var(--clr-sec);
    height: 200px;
    color: var(--txt-clr-one);
    text-align: center;
}