:root {
    --bkgOne: linear-gradient(90deg, aqua, darkslategray);
    --bkgTwo: linear-gradient(90deg, darkslategray, black);
    --bkgThree: linear-gradient(90deg, black, darkslategray);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: var(--bkgOne);
}

a {
    text-decoration: none;
    color: red;
    cursor: pointer;
}

a:hover {
    color: white;
}

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

.input-box label {
    margin-top: 1rem;
    color: white;
}

.input-box input {
    margin-top: .5rem;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.btn {
    margin: .5rem;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color:plum ;
}

.output-box {
    margin-top: 3rem;
    text-align: center;
    color: white;
}

.output {
    font-size: 2rem;
}