:root {
    --bkg-one: rgb(50, 50, 50);
    --bkg-two: rgb(20, 20, 20);
    --txt-one: rgb(200, 200, 200);
    --txt-two: rgb(119, 119, 119);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bkg-one);
    color: var(--txt-one);
}

header {
    background-color: var(--bkg-two);
}

.container {
    width: 95%;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    padding: 20px 0;
}

.nav a {
    text-decoration: none;
    color: var(--txt-one);
}

button {
    padding: 8px;
    width: fit-content;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--bkg-one);
    color: whitesmoke;
}

.create-box {
    width: 380px;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: var(--bkg-two);
    color: var(--txt-one);
}

.create-box h2 {
    text-align: center;
}

.create-box textarea {
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    border: none;
}

.flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 0 10px;
}

.flashcard {
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    background-color: var(--bkg-two);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: var(--txt-one);
}

.quest {
    text-align: center;
    color: var(--txt-two);
    border-bottom: 1px solid red; 
    padding: 15px; 
    margin-top: 30px;
}

.ans {
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 700;
}

@media(max-wdith: 768px) {
    .flashcard {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media(max-width: 480px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .create-box {
        width: 100%;
    }

    .flashcard {
        width: 100%;
    }
}